<!doctype html>
<html ng-app="testApp">
  <head>
    <title>Angular Sandbox</title>
  </head>
  <body>

    <div ng-controller="MainCtrl">
        <form>
            <p>
                <select ng-model="selectedItem" ng-options="i.name for i in items" ng-change="selectedSubItem=null;selectedSubSubItem=null"></select>
            </p>
            <p ng-show="selectedItem.subItems">
                <select ng-model="selectedSubItem" ng-options="i.name for i in selectedItem.subItems" ng-change="selectedSubSubItem=null"></select>
            </p>
            
            <p ng-show="selectedSubItem.subItems">
                <select ng-model="selectedSubSubItem" ng-options="i.name for i in selectedSubItem.subItems"></select>
            </p>
            
            <input type="hidden" name="selection" value="{{ (selectedSubSubItem || selectedSubItem || selectedItem).name }}" />
            RESULT: {{ (selectedSubSubItem || selectedSubItem || selectedItem).name }}<br/>
                
            <input type="submit" value="submit">
        </form>
    
    </div>


    <!-- <div ng-controller="MainCtrl">
      
        <form>
            <p>
                <select ng-model="selectedItem[0]" ng-options="i.name for i in items"></select>
            </p>
            <p ng-show="selectedItem[0].subItems">
                <select ng-model="selectedItem[1]" ng-options="i.name for i in selectedItem[0].subItems"></select>
            </p>
            
            <p ng-show="selectedItem[1].subItems">
                <select ng-model="selectedItem[2]" ng-options="i.name for i in selectedItem[1].subItems"></select>
            </p>
            
            <input type="hidden" name="selection" ng-value="choiceValue()">
                
            <input type="submit" value="submit">
        </form>
    
    </div> -->


    <script src="js/angular.min.js"></script>
    <script src="js/myScript.js"></script>
  </body>
</html>